header {
    height: 5%;
    width: 70%;
    max-width: 1200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #BFEAF5;
    border-radius: 0 0 10px 10px;
}

.currency {
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 1.5rem;
    font-weight: 500;
}

.currency > img {
    padding: 5px;
    height: 32px;
}

@media (prefers-color-scheme: dark) {
    header {
        background-color: #07485B;
    }
}