body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    background-color: #91D8E4;
    image-rendering: pixelated;
    font-family: 'Roboto', sans-serif;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

header {
    height: 5%;
    width: 70%;
    max-width: 1200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #BFEAF5;
    border-radius: 0 0 10px 10px;
}

.currency {
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 1.5rem;
}

.currency > img {
    padding: 5px;
    height: 32px;
}

#clicker-heart {
    box-sizing: border-box;
    background-image: url("/public/images/gex_new-static.png");
    flex-grow: 1;
    flex-shrink: 0;
    aspect-ratio: calc(72/68);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 50px;
    transition-property: transform;
    transition-duration: 100ms;
    transition-timing-function: ease-out;
}

#clicker-heart:hover:not(.clicked):not(.regen) {
    transform: scale(1.05);
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
}

#clicker-heart.clicked {
    transform: scale(0.1);
    transition-property: transform;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
}

#clicker-heart.regen {
    transition-property: transform;
    transition-duration: 1800ms;
    transition-timing-function: linear;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 10px 20px;
    margin: 3px 0;
    background-color: #BFEAF5;
    border-radius: 10px;
    gap: 10px;
}

nav > * {
    transition-property: transform;
    transition-duration: 100ms;
    transition-timing-function: ease;
}

nav > *:hover {
    transform: scale(1.1) rotate(2deg);
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #0D6986;
        color: #8EC7D2;
    }

    header {
        background-color: #07485B;
    }

    nav {
        background-color: #07485B;
    }

    i {
        color: #8EC7D2;
    }
}

@media (max-width: 500px) {
    body {
        flex-direction: column-reverse;
    }

    header {
        border-radius: 10px 10px 0 0;
        width: 90%;
    }
}