body {
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #91D8E4;
    image-rendering: pixelated;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #07485B;
}

a:link {
    color: #07485B;
    text-decoration: none;
}

a:visited {
    color: #07485B;
    text-decoration: none;
}

i {
    color: #07485B;
}

main {
    background-color: #BFEAF5;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 500px;
    margin-top: 50px;
    margin-bottom: 100px;
    flex-shrink: 0;
    flex-grow: 1;
    border-radius: 10px;
    padding: 25px;
    gap: 15px;
}

main > h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: -10px;
}

main > hr {
    height: 1px;
    background-color: #07485B;
    border: none;
    width: 90%;
    margin-bottom: -5px;
    align-self: center;
}

.shop-item {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 2px;
    border: 1px solid #07485B;
    padding: 10px 5px;
    border-radius: 5px;
}

.item-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    flex-grow: 1;
}

.item-image {
    width: 32px;
    height: 32px;
}

.item-info,
.item-status  {
    display: flex;
    align-items: center;
    gap: 10px;
}

.item-name {
    font-weight: 500;
}

.item-cost {
    display: flex;
    align-items: center;
    gap: 3px;
}

.item-cost.expensive {
    color: #c40c2e;
}

.item-cost.expensive img {
    filter: grayscale(100%);
}

.item-purchase {
    background-color: #91D8E4;
    border: none;
    border-radius: 8px;
    transition-property: transform border-radius color;
    transition-duration: 100ms;
    transition-timing-function: ease;
    padding: 5px;
    aspect-ratio: 1;
}

.item-purchase:hover {
    background-color: #8EC7D2;
    transform: scale(1.1);
    cursor: pointer;
    border-radius: 5px;
}

.item-purchase:active {
    transform: scale(1.0);
}

.item-purchase.disabled {
    filter: grayscale(100%);
    transform: scale(1);
    cursor: default;
    border-radius: 8px;
}

.currency-icon {
    width: 18px;
}

.item-desc {
    font-size: 0.7rem;
    font-weight: 300;
}

footer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: end;
    align-items: center;
    position: sticky;
    bottom: 3px;
    order: 1;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 10px 20px;
    background-color: #91D8E4;
    border-radius: 10px;
}

nav > ul, nav > ul > li {
    display: flex;
    gap: 20px;
}

nav > ul > li > a {
    position: relative;
    transition-property: transform;
    transition-duration: 100ms;
    transition-timing-function: ease;
    display: flex;
    justify-content: center;
}

nav > ul > li:hover {
    transform: scale(1.1) rotate(2deg);
}

nav > ul > li > a > p {
    position: absolute;
    font-size: 1rem;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 5px;
    bottom: calc(100% + 13px);
    transform: scale(0);
    transition-property: transform;
    transition-duration: 80ms;
    transition-timing-function: ease-in-out;
}

nav > ul > li > a:hover > p {
    transform: scale(1);
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #0D6986;
        color: #8EC7D2;
    }

    main {
        background-color: #07485B;
    }

    main > hr {
        background-color: #8EC7D2;
    }

    .shop-item {
        border-color: #8fcbd6;
    }

    .item-purchase {
        background-color: #8EC7D2;
    }

    .item-purchase:hover {
        background-color: #91D8E4;
    }

    i {
        color: #8EC7D2;
    }

    .item-purchase > i {
        color: #07485B;
    }

    nav {
        background-color: #8EC7D2;
        color: #07485B;
    }

    nav a > i {
        color: #07485B;
    }

    nav a > p {
        background-color: black;
        color: white;
    }

    .item-purchase {
        color: #8EC7D2;
    }
}

@media (max-width: 450px) {
    .item-name {
        font-size: 0.9rem;
    }

    .item-cost {
        font-size: 0.9rem
    }

    .item-info {
        flex-direction: column;
    }
}