.content {
    width: 50%;
    position: relative;
}

nav {
    width: 100%;
    display: flex;
}

nav > ul {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0 10px;
}

nav li {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 0;
}

nav a, nav a:link, nav a:visited {
    padding: 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,.5);
    border-radius: 8px;
    background-color: black;
    color: #BFEAF5;
    text-decoration: none;
    transition-property: background-color transform border-radius; 
    transition-duration: 150ms;
    transition-timing-function: ease;
}

nav a:hover {
    background-color: #1F1F1F;
    transform: scale(1.05);
    border-radius: 5px;
}

.bottom {
    position: sticky;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: end;
    align-items: center;
    bottom: 10px;
}

.paragraph-with-aside {
    width: calc(100% + 35px + 25vw);
    display: flex;
    flex-direction: row;
    position: relative;
}

.paragraph-with-aside > p {
    width: calc(100% - 35px - 25vw);
}

.paragraph-with-aside > aside {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: calc(25vw - 40px);
    max-width: 275px;
    background-color: #BFEAF5;
    margin-left: 55px;
    padding: 10px;
    border-radius: 10px;
    height: fit-content;
    gap: 10px;
}

h3 {
    font-size: 1.2rem;
    font-weight: 700;
}

img {
    object-fit: contain;
    height: 0.9em;
}

img.icon {
    margin-left: 5px;
}

img.big {
    height: 2em;
}

img.huge {
    height: 4em;
}

main ul {
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    gap: 7px;
}

@media (max-width: 750px) {
    nav a {
        font-size: 0;
    }

    nav a i {
        font-size: 1rem;
    }
}

@media (max-width: 650px) {
    .content {
        width: 65%;
        margin-left: -25%;
    }

    .paragraph-with-aside {
        width: calc(100% + 35px + 30vw);
    }

    .paragraph-with-aside > p {
        width: calc(100% - 35px - 30vw);
    }

    .paragraph-with-aside > aside {
        width: calc(30vw - 40px);
    }
}

@media (max-width: 550px) {
    .content {
        width: 90%;
        margin-left: 0;
    }

    .paragraph-with-aside {
        width: 100%;
        flex-direction: column;
    }

    .paragraph-with-aside > p {
        width: 100%;
    }

    .paragraph-with-aside > aside {
        width: 100%;
        color: #BFEAF5;
        background-color: black;
        margin-top: 5px;
        max-width: none;
        margin-left: 0;
    }

    nav a {
        font-size: 0.9rem;
    }

    nav a i {
        font-size: 0.9rem;
    }
}

@media (max-width: 400px) {
    nav a {
        font-size: 0;
    }

    nav a i {
        font-size: 0.9rem;
    }
}

@media (prefers-color-scheme: dark) {
    .paragraph-with-aside > aside {
        background-color: #07485B;
    }

    nav a, nav a:link, nav a:visited {
        background-color: #8EC7D2;
        color: #07485B;
    }

    nav a:hover {
        background-color: #97d3df;
    }

    @media (max-width: 550px) {
        .paragraph-with-aside > aside {
            color: #07485B;
            background-color: #8EC7D2;
        }
    }
}