@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

body {
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #91D8E4;
    image-rendering: pixelated;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #07485B;
}

a:link, a:visited {
    color: #466F46;
}

.mono {
    font-family: Inconsolata,"DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    line-height: normal;
    background-color: #91D8E4;
    color: black;
    padding: 0 3px;
}

.content {
    box-sizing: border-box;
    background-color: #BFEAF5;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 800px;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-shrink: 0;
    flex-grow: 1;
    border-radius: 10px;
    padding: 25px 25px;
    gap: 15px;
}

.content > h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: -10px;
    text-align: center;
}

.content > hr {
    height: 1px;
    background-color: #07485B;
    width: 90%;
    border: none;
}

.content > main {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px;
}

main h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 0;
}

main p {
    line-height: 1.2rem;
}

main strong {
    font-weight: 700;
}

main article {
    box-sizing: border-box;
    border: 1px #07485B solid;
    border-radius: 5px;
    width: 100%;
    padding: 7px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main section:first-child {
    margin-top: 15px;
}

main section > h2:first-child {
    margin-top: 0;
}

main article a {
    display: flex;
    font-size: 1.2rem;
}

main article a img,
main article a i {
    box-sizing: border-box;
    height: 1.2rem;
}

main article a i {
    color: #07485B;
}

main article a picture:first-child,
main article a img:first-child,
main article a i:first-child {
    display: flex;
    justify-content: center;
    object-fit: contain;
    width: 32px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #0D6986;
        color: #8EC7D2;
    }

    .mono {
        background-color: #0D6986;
        color: white;
    }

    .content {
        background-color: #07485B;
    }

    .content > hr {
        background-color: #8EC7D2;
    }

    a:link, a:visited {
        color: #DBA507;
    }

    main > article {
        border: 1px #8EC7D2 solid;
    }

    main article a i {
        color: #8EC7D2;
    }
}

@media (max-width: 600px) {
    .content > h1 {
        font-size: 2.5rem;
    }

    main > h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 430px) {
    .content > h1 {
        font-size: 2rem;
    }

    main > h2 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.9rem;
    }

    main > article > a {
        font-size: 1.1rem;
    }

    main > a {
        font-size: 0.9rem;
    }
}